/* ------------------------------Responsive Media Query Added------------------------------ */

/* --------------------Mobile/Small Device Responsive Added-------------------- */
@media only screen and (max-width: 576px) {
  /* ----------Navbar Mobile/Small Device Responsive Added---------- */
  .nav-container {
    box-shadow: none;
  }
  nav {
    flex-direction: column;
  }
  .nav-right {
    flex-direction: column;
  }
  .nav-links ul {
    flex-direction: column;
  }

  /* ----------Banner Section Mobile/Small Device Responsive Added---------- */
  .banner-section {
    background-image: none;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-left {
    background-image: url(../assets/images/group-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .banner-info {
    padding: 90px;
  }
  .banner-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
  }
  .banner-image {
    padding: 50px 50px 10px 50px;
  }
  /* ----------Gamer Section Mobile/Small Device Responsive Added---------- */
  .gamer-container {
    flex-direction: column;
    text-align: center;
  }
  .gamer-image img {
    width: 90%;
  }
  .gamer-right {
    margin-top: 50px;
  }
  /* ----------Online Games Section Mobile/Small Device Responsive Added---------- */
  .online-games-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .online-games-card {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
  /* ----------Play Instantly Section Mobile/Small Device Responsive Added---------- */
  .play-instantly-container {
    flex-direction: column;
    width: 80%;
    text-align: center;
  }
  .play-info {
    margin: 0px 0px 70px 0px;
  }
  .play-right img {
    width: 90%;
  }
  .play-right .image-6 {
    width: 170px;
    height: 220px;
    left: -36px;
    bottom: -30px;
  }

  /* ----------Play Games Section Mobile/Small Device Responsive Added---------- */
  .play-games-container {
    flex-direction: column-reverse;
    width: 80%;
    text-align: center;
  }
  .play-games-info {
    margin-bottom: 70px;
  }
  .play-games-left img {
    width: 90%;
  }
  .play-games-left .image-8 {
    width: 170px;
    height: 220px;
    right: -40px;
    bottom: -75px;
  }
  /* ----------Careers Section Mobile/Small Device Responsive Added---------- */
  .careers-container {
    flex-direction: column;
  }
  .careers-content {
    margin: 120px 0px 120px 0px;
    padding: 5px;
  }
  .careers-container-image {
    padding: 5px;
    margin-bottom: 120px;
  }
}

/* --------------------Tablet/Medium Device Responsive Added-------------------- */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* ----------Navbar Tablet/Medium Device Responsive Added---------- */
  .nav-container {
    box-shadow: none;
  }
  nav {
    flex-direction: column;
  }
  .nav-right {
    flex-direction: column;
  }

  /* ----------Banner Section Tablet/Medium Device Responsive Added---------- */
  .banner-section {
    background-image: none;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-left {
    background-image: url(../assets/images/group-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .banner-info {
    padding: 100px;
  }
  .banner-button {
    display: flex;
  }
  .banner-image {
    padding: 50px 50px 10px 50px;
  }

  /* ----------Gamer Section Tablet/Medium Device Responsive Added---------- */
  .gamer-container {
    flex-direction: column;
    text-align: center;
  }
  .gamer-image img {
    width: 90%;
  }
  .gamer-right {
    margin-top: 50px;
  }

  /* ----------Online Games Section Tablet/Medium Device Responsive Added---------- */
  .online-games-card-container {
    grid-template-columns: repeat(1, 1fr);
    width: 60%;
    margin: 0 auto;
  }
  .online-games-card {
    margin-bottom: 30px;
  }

  /* ----------Play Instantly Section Tablet/Medium Device Responsive Added---------- */
  .play-instantly-container {
    flex-direction: column;
    width: 80%;
    text-align: center;
  }
  .play-info {
    margin: 0px 0px 70px 0px;
  }
  .play-right .image-6 {
    width: 300px;
    height: 340px;
    left: -130px;
    bottom: -60px;
  }

  /* ----------Play Games Section Tablet/Medium Device Responsive Added---------- */
  .play-games-container {
    flex-direction: column-reverse;
    width: 80%;
    text-align: center;
  }
  .play-games-info {
    margin-bottom: 70px;
  }

  .play-games-left .image-8 {
    width: 300px;
    height: 340px;
    right: -120px;
    bottom: -90px;
  }
  /* ----------Careers Section Tablet/Medium Device Responsive Added---------- */
  .careers-container {
    flex-direction: column;
  }
  .careers-content {
    margin: 120px 0px 120px 0px;
  }
  .careers-container-image {
    margin-bottom: 120px;
  }
}
